// Set your brand colors
$link: #15007d;

// Update Bulma's global variables
$fullhd-enabled: false;
$widescreen-enabled: false;
$content-heading-line-height: inherit;

@import "~assets/vendors/bulma/bulma.sass";


// Custom styles
.border-bottom{
    border-bottom: 1px solid;
    // Colors
    &.is-light{
        border-color: #eee;
    }
    &.is-dark{
        border-color: #222;
    }
    // Modifiers
    &.has-space{
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
}