// Media Queries

/*
    0 - 360px : Phone Small
    360px - 452px : Phone
    452px - 600px : Phone
    600px - 900px : Tablet Portrait
    900px - 1200px : Tablet Landscape
    1200px - 1800px : Normal Styles
    1800px + : Big Desktop
    
    $breakpoint argument choices:
    - phone-sm
    - phone-md
    - phone
    - tab-port
    - tab-land
    - big-desktop

    1em = 16px

    ORDER : Base + Typography > General Layout + Grid > Page Layout > Components
*/

@mixin responsive($breakpoint){
    // Phone Small
    @if $breakpoint == phone-sm{
        @media only screen and (max-width : 22.5em){ @content}; //360px
    }
    // Phone Medium
    @if $breakpoint == phone-md{
        @media only screen and (max-width : 28.25em){ @content}; //452px
    }
    // Phone
    @if $breakpoint == phone{
        @media only screen and (max-width : 37.5em){ @content}; //600px
    }
    // Tablet Portrait
    @if $breakpoint == tab-port{
        @media only screen and (max-width : 56.25em){ @content}; //900px
    }
    // Tablet Landscape
    @if $breakpoint == tab-land{
        @media only screen and (max-width : 75em){ @content}; //1200px
    }
    // Big Desktop
    @if $breakpoint == big-desktop{
        @media only screen and (min-width : 112.5em){ @content}; //1800px
    }
}