<template>
  <div v-if="post">
    <h1>{{ post.title }}</h1>
    <div>
      <nuxtdown-body :body="post.body" />
    </div>
  </div>
  <div v-else>
    <h1>Posts</h1>
    <div>
      Welcome to Vuepress
    </div>
  </div>
</template>

<script>
export default {
  asyncData: async ({ app, route, params, payload }) => {
    try {
      let post
      if(params.post)
        post = (await app.$content("/").get(route.path)) || payload

      return {
        post
      };
    } catch (e) {
      console.error(e);
    }
  }
};
</script>
