<template>
    <section class="section has-background-warning">
        <div class="container">
            <div class="content is-medium">
                <div class="hero-logo">
                    <img src="https://res.cloudinary.com/dqe8usbqt/image/upload/v1546973869/logo.png" alt="">
                </div>
                <h1 class="is-size-3">Minimal setup with markdown-centered project structure helps you focus on writing.</h1>

                <div class="columns">
                    <div class="column">
                        <div class="image is-1by1">
                            <img src="http://placehold.it/800x800" alt="">
                        </div>
                    </div>
                    <div class="column">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum vero at ad unde delectus totam eos eius cupiditate soluta autem repellendus natus iste ratione repudiandae, placeat accusantium tempore officiis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .section{
        min-height: 100vh;
    }
</style>
