<template>
    <div>
        <Header/>
        <Content/>
    </div>
</template>

<script>
import Header from './homepage/Header';
import Content from './homepage/Content';

export default {
    components:{
        Header,
        Content
    }
}
</script>

<style>

</style>
