<template>
  <section>
    <!-- Header Start -->
    <div class="header border-bottom is-light">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                <img src="https://bulma.io/images/bulma-logo.png" alt="" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </nav>
    </div>
    <!-- Header End -->

    
    <!-- Sidebar Start -->
    <div class="sidebar">
        <aside class="menu">
            <ul class="menu-list">
                <li v-for="post in posts" :key="post.permalink">
                    <nuxt-link :to="post.permalink"> {{ post.title }} </nuxt-link>
                </li>
            </ul>
        </aside>
    </div>
    <!-- Sidebar End -->

    <!-- Body Start -->
    <div class="body-content">
        <main class="content">
            <nuxt-child />
        </main>
    </div>
    <!-- Body End -->
  </section>
</template>

<script>
export default {
  async asyncData ({ app }) {
    return {
      posts: await app.$content('/')
        .query({ exclude: ['body'] })
        .getAll()
    }
  }
}
</script>

<style lang="scss">
    // Variables
    $header-height: 3.31rem;

    // Styling
    .header{
        height: $header-height;
        position: fixed;
        z-index: 99;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
    }
    .sidebar{
        padding: 4rem 2rem;
        width: 25rem;
        border-right: 1px solid #eee;
        overflow-y: scroll;
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
    }
    .menu-list a.nuxt-link-exact-active {
        background-color: transparent;
        color: #15007d;
        font-weight: 700;
    }
    .body-content{
        margin-left: 40rem;
        margin-right: 20rem;
        margin-top: $header-height + 3rem;
    }
</style>
