<template>
    <section class="hero is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="hero-content">
                    <div class="hero-logo">
                        <img src="~static/base/logo.svg" alt="">
                    </div>
                    <h2 class="subtitle has-text-white is-size-3 is-size-4-mobile">
                        {{ subtitle }}
                    </h2>
                    <a href="/about" class="button is-link">About</a>
                    <a href="/posts" class="button is-primary">Documentation</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data(){
        return{
            subtitle: 'Living Docs Theme'
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '~assets/sass/abstract/mixins';

    // Hero Header
    .hero{
        background-image: url(~static/homepage/bg/bg-main.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;

        // Hero Logo
        &-logo{
            max-width: 20rem;
            width: 100%;
            margin-bottom: 1rem;
            @include responsive(phone){
                max-width: 12rem;
            }
        }

        // Hero Body
        &-body{
            padding-top: 5rem;
            padding-bottom: 10rem;
        }

        // Hero Content
        &-content{
            @include responsive(tab-land){
                padding-left: 5rem;
            }
            @include responsive(tab-port){
                padding-left: 0;
            }
        }


    }

</style>

